body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: thin solid black;
  border-radius: 50%;
}

.factors {
  margin-top: 1rem;
}

.button {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#count {
  text-align: center;
}

.button:active {
  transform: scale(0.98);
}

.button:disabled {
  background-color: #ccc;
  color: #000;
}
