body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-end;
}

.btn {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}
